p {
  color: white;
}

.red-box {
  background-color: red;
  width: 200px;
  height: 50px;
  color: black;
}

.red-box p {
  color: pink;
}

.blue-box {
  background-color: blue;
  width: 100px;
  height: 200px;
}

#cover-box {
  background-color: black;
  width: 100px;
  height: 100px;
}
